@import "_variables";

.row{
    border: 5px black solid;
    margin-top: 5px;
    background-color: rgb(240, 240, 240);
}

.img-fluid{
    padding-bottom: 25px;
    padding-left: 10px;
}
h3{
    color: $titulo;

}

body{
        background-color: map-get($ColorHover, fondo );
        div{
            margin:10px,1px;
            text-align:center ;
            a{
                h4:hover{
                    color: map-get($ColorHover, base);
                    transition: 800ms;
                }
                h4:active{
                    color: map-get($ColorHover, despues);
                }
                h4:visited{
                    color: map-get($ColorHover, despues);
                }
            }
            .img{
                padding: map-get($Cajas, padin);
                height: 300px;
                width: 400px;
                border-radius: map-get($Cajas , radio );
            }
            p{ 
                padding-top: 100px;
                padding-right: 10px;
            }
            .maps{
                @extend .img;
            }
        }
    }

    h3{
    text-align: center;
    }

    .pdp{
    background-color: black;
    text-align: center;
    align-items: center;
        .DerechosPie{
        padding-top: map-get($Cajas, padin );
        }

}