$Divisores: whitesmoke 3px double;
$ColorLetra: #ffe597c7;


nav{
    border-bottom: $Divisores;
}
body{
    // background-color: blue;
}
.row{
    border: 5px black solid;
    margin-top: 5px;

}
section{
    margin: 5px;
    div{
        margin:10px,1px;
        text-align:justify ;
    }
}

h3{
    text-align: center;
}

.pdp{
    background-color: black;
    border-top: $Divisores;
    color: $ColorLetra;
    text-align: center;
    align-items: center;
    .DerechosPie{
        padding-top: 10
        px;
    }
}