body{
    // background-color: blue;
}
.row{
    border: 5px black solid;
    margin-top: 5px;

}
section{
    margin: 5px;
    div{
        margin:10px,1px;
        text-align:justify ;
    }
}

h3{
    text-align: center;
}